/*! purgecss start ignore */
@import "../../../../mods/bigger-picture/bigger-picture";

.bp-wrap {
    z-index: 1100;
}

img {
    cursor: zoom-in;
}

a {
    img {
        cursor: pointer;
    }
}

.bp-panel {
    height: fit-content;
    z-index: 1;
}

/*! purgecss end ignore */
